@import "session.css" all;

#schedule table th {
  border-bottom: none;
  text-align: center;
}

#schedule .table-container {
  position: relative;
}

#schedule table td {
  border-top: none;
  height: 80px;
}

#schedule table td:last-child {
  padding-left: 0;
  padding-right: 0;
}

#schedule table tr :first-child {
  min-width: 60px;
  text-align: right;
}

#schedule table tr > * {
  white-space: nowrap;
}

#schedule table th:nth-child(n+2) {
  min-width: 125px;
}

#schedule table td:last-child::before {
  border-bottom: 1px dashed grey;
  display: block;
  content: " ";
  height: .75em;
}
#schedule .sessions {
  position: absolute;
  top: 55px;
  left: 60px;
  width: calc(100% - 60px);
  height: calc(100% - 55px);
}

#schedule .stick > span {
  min-width: calc(20% - 16.5px);
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 8px;
}


#schedule .stick > span:first-child {
  width: 60px;
  min-width: initial;
  height: 100%;
}
