@import "grid-xl.css" (min-width: 1700px);
@import "horizontal.css" screen and (min-height: 700px) and (min-width: 992px);
@import "wide.css" screen and (min-width: 1475px) and (max-height: 700px);
@import "form.css";
@import "schedule.css";
@import "courses.css";

body {
  padding-top: 15px;
  padding-bottom: 15px;
}

.table-container table {
  width: auto;
  min-width: 100%;
  max-width: initial;
  position: relative;
}

.table-container {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}

.table-container .stick {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 2;
}

.table-container .stick {
  display: none;
}

#popup {
  position: fixed;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  max-width: 25%;
  max-height: 25%;
}

@media print {
  #searchForm,
  #courses {
    display: none;
  }

  #schedule {
    width: 900px;
  }

  #schedule .session {
    background-color: white !important;
  }

  #schedule .session .remove {
    display: none;
  }

  #schedule .panel-heading {
    min-height: 38px;
  }

  #print {
    display: none;
  }
}
