@media print {
  #courses {
    display:none;
  }
  #searchForm {
    display:none;
  }
  #print {
    display:none;
  }
  #clear {
    display: none;
  }
  #schedule {
    background-color: white;
    color: black;
  }
  #schedule .class {
    background-color: white;
    border: 1px solid grey;
  }
  #schedule .class .remove {
    display: none;
  }
}
