#schedule {
  width: 850px;
  margin: 20px;
  border-collapse: collapse;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 15px;
  float: left;
  border: 1px solid white;
  border-radius: 25px;
  background-color:black;
  color: white;
  padding-right: 25px;
  padding-top: 25px;
}
#schedule .cell {
  width: 150px;
  display: inline-block;
  text-align: center;
  margin:0;
}
#schedule .cell.time {
  width: 50px;
  height: 80px;
  text-align: right;
  margin-right: 10px;
}
#schedule .cell.spacer {
  width:766px;
  border-bottom: 1px dashed #d4d4d4;
}
#schedule .class {
  font-size: 12px;
  border-radius: 6px;
  width: 130px;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  height: 64px;
  background-color: rgba(83, 175, 198, 0.6);
  float: left;
  box-sizing: border-box;
}
#schedule .class .remove {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 16px;
  height: 16px;
  background-image: url("../images/delete.png");
  display:inline-block;
  cursor: pointer;
}
#schedule .class.active {
  background-color: rgba(216, 158, 35, 0.6);
}

#schedule .row.headers .cell.time {
  height: 0;
}
