#searchForm {
  display: inline-block;
  padding: 10px;
  position: relative;
  top:0;
  left:0;
  border-radius: 20px;
  background-color: #82c6ff;
  margin-left: 25px;
  float:right;
}
#terms, #subjects, #instructors, #online, #course, #days, #begintime, #endtime, #search {
  display: inline-block;
  margin: 10px;
}

#course input {
  width: 138px;
}

#days .labels span {
  display: inline-block;
  width: 40px;
}

#days .labels {
  text-align: center;
}

#days .fields input {
  margin: 10px 0;
  width: 40px;
}
#searchForm .title {
  padding-bottom: 5px;
  font-weight: bold;
}

#begintime .labels span, #endtime .labels span {
  width: 60px;
  display: inline-block;
  text-align: center;
}

#searchForm #search {
  height: 84px;
  background-image: url("../images/search.png");
  background-repeat: no-repeat;
  background-position: 13px 10px;
  position: relative;
  left: 50%;
  margin-left: -103px;
  padding-left: 90px;
  background-color: #D5D5D5;
  font-size: 30px;
  line-height: 84px;
  border-radius: 31px;
  padding-right: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
  cursor: pointer;
}

#searchForm #search:hover {
  background-color: #b1aeae;
}
