@import 'courses.css';
@import 'schedule.css';
@import 'searchForm.css';
@import 'print.css';

#main {
  font-family: Helvetica, sans-serif, arial;
}
#print {
  cursor: pointer;
  width: 50px;
  margin-left: 15px;
}
#clear {
  margin-left: 15px;
  margin-top: 10px;
  box-sizing: border-box;
  font-size: 20px;
  border-radius: 6px;
  border: 1px solid;
  color: white;
  background-color: rgb(185, 0, 0);
  padding: 7px 10px;
  transition: all .2s ease;
  cursor: pointer;
}
#clear:hover,
#clear:focus {
  color: black;
  background-color: rgb(228, 0, 0);
}

#popup {
  position: fixed;
  display: inline-block;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  max-width: 25%;
  max-height: 25%;
  background-color: white;
  border: 1px solid whitesmoke;
  border-radius: 11px;
  padding: 25px;
}

#popup button {
  box-sizing: border-box;
  width: 49%;
  margin-top: 15px;
  font-size: 20px;
  border-radius: 6px;
  border: 1px solid;
  color: white;
  padding: 7px;
  transition: all .2s ease;
  cursor: pointer;
}

#popup button.yes {
  background-color: rgb(10, 161, 7);
}
#popup button.yes:hover,
#popup button.yes:focus {
  background-color: rgb(57, 227, 36);
}
#popup button.no {
  background-color: rgb(134, 79, 15);
}
#popup button.no:hover,
#popup button.no:focus {
  background-color: rgb(194, 114, 20);
}

#popup button:hover,
#popup button:focus {
  color: black;
}
